
* {
    box-sizing: border-box;
}

.generator {
    border: 2px solid darkmagenta;
    background-color: lavender;
    color: rgb(32, 148, 109);
    text-align: center;
    width: 300px;
    padding: 15px;
    font-size: 1.3em;
    cursor: pointer;
    user-select: none;
}

.tickspeed {
    border: 2px solid magenta;
    background-color: cyan;
    color: rgb(100, 255, 100);
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.tickspeed.locked {
    background-color: rgb(0, 255, 0);
    color: rgb(173, 255, 14);
}

.generator.locked {
    background-color: rgb(255, 215, 215);
    color: rgb(173, 0, 0);
}

.generators-container {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    margin: auto;
}

#currency {
    margin: 40px;
    font-size: 3em;
    text-align: center;
}
